<mat-toolbar color="primary">
  <span>Primary Toolbar</span>
</mat-toolbar>

<mat-card>
  <mat-card-title>
    <mat-toolbar color="primary">
      <span>Login</span>
    </mat-toolbar>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup] = "myForm">
      <i class="material-icons">
        account_circle
      </i>
      <mat-form-field class="example-full-width">
        <input matInput required placeholder="E-mail" type = "email" formControlName="email">
      </mat-form-field>
      <div *ngIf = "myForm.controls.email.invalid && myForm.controls.email.touched" class = "has-danger"> Invalid Email format! </div>
      <!--<pre>Pristine? {{ myForm.controls.email.pristine }}</pre>-->
      <!--<pre>Touched? {{ myForm.controls.email.touched }}</pre>-->
      <!--<pre>Touched? {{ myForm.controls.email.untouched }}</pre>-->
      <!--<pre>Valid? {{ myForm.controls.email.valid }}</pre>-->
      <!--<pre>Invalid? {{ myForm.controls.email.invalid }}</pre>-->

      <i class="material-icons">
        vpn_key
      </i>
      <mat-form-field class="example-full-width">
        <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required matInput placeholder="Password" type = "password" formControlName="pword">

      </mat-form-field>
      <div *ngIf = "myForm.controls.pword.invalid && myForm.controls.pword.touched">Invalid pattern!</div>

      <mat-card-footer>
        <button type = "submit" mat-raised-button color="primary">Login</button>
        <button type = "reset" value = "reset" mat-raised-button color="warn">Cancel</button>
      </mat-card-footer>
    </form>


  </mat-card-content>




</mat-card>
