.mat-card {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 10%;
}
.mat-card-content { padding: 10px 24px 10px 24px !important; }

.mat-card-footer {
  margin: 10px 0 10px 0;
  display: inline-block;
}

.mat-card-footer button {
  margin: 10px;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

.mat-form-field { width: 90%; }

i {
  vertical-align: middle;
  margin-right: 10px;
}
