<div class = "area" id="about-area">
  <mat-card id = "about-text">
    <h2>About</h2>
    <mat-card-content>
      <p>
        This administrative interface shows all programmes and subjects that are available for students to enroll for at
        the University of the West Indies. It also shows all the requirements needed for a potential student to qualify and
        gives an administrator the option to update the current programmes in the database by uploading an excel file.
      </p>
    </mat-card-content>
  </mat-card>
</div>


