#search {
  margin-top: 20px;
}

mat-list-item {
  border-bottom: 1px solid rgba(183, 183, 183, 0.5);
}

.row {
  margin-top: 15px !important;
}

.col-md-9 {
  padding-left: 5px;
  padding-right: 5px;
}
mat-card {
  height: 100%;
  margin: 0 !important;
  margin-top: 10px !important;
}

mat-checkbox {
  margin-right: 5px;
}
