<mat-toolbar color = "primary">
  <mat-toolbar-row id = "search">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Search"></textarea>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid" style = "padding: 0px !important;">
  <div class="row">

    <div class="col-md-3">
      <mat-card id = "facultyList">
        <mat-nav-list (click) = "hideProgs = 'visible';">
          <mat-list-item> Social Sciences</mat-list-item>
          <mat-list-item> Engineering </mat-list-item>
          <mat-list-item> Food and Agriculture </mat-list-item>
          <mat-list-item> Humanities and Education</mat-list-item>
          <mat-list-item> IGDS </mat-list-item>
          <mat-list-item> Law </mat-list-item>
          <mat-list-item> Science and Technology</mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>

    <div class="col-md-3" [style.visibility] = hideProgs>
      <mat-card id = "programmeList">
        <mat-nav-list>
          <mat-list-item *ngFor="let prog of programmes" (click) = "getProgInfo($event)"> {{ prog }}</mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>

<!--thus is a comment-->
    <div class="col-md-6" [style.visibility] = hideInfo style = "padding: 0px !important;">
      <mat-card style = "height: 140% !important;">
        <div class="container-fluid">
          <div class="row">
            <h1> {{title}} </h1>
          </div>
          <div class="row">
            <div class="col-md-8">
              <mat-label>Single Subject Requirements</mat-label>
              <mat-form-field class="general-requirements">
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let req of generalReqs" [selectable]="selectable"
                            [removable]="removable" (removed)="removeGenReq(req)">
                    {{req.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="addGenReq($event)" />
                </mat-chip-list>
              </mat-form-field>

            </div>
            <div class="col-md-4">
              <div class="row">
                <mat-checkbox [(ngModel)]="ptChecked">Part time</mat-checkbox>
                <mat-checkbox [(ngModel)]="ftChecked">Full time</mat-checkbox>
                <mat-checkbox [(ngModel)]="eveningChecked">Evening</mat-checkbox>
              </div>
              <mat-form-field class="example-full-width">
                <input type = "number" matInput placeholder="CAPE Passes (2 unit)">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input type = "number" matInput placeholder="CSEC Passes">
              </mat-form-field>

            </div>
          </div>

          <!--<div class="row">-->
            <!--<mat-label>Grouped Requirements (CSEC)</mat-label>-->
            <!--<mat-form-field class="csec-requirements">-->
              <!--<mat-chip-list #chipList>-->
                <!--<mat-chip *ngFor="let subs of csecSubs" [selectable]="selectable"-->
                <!--[removable]="removable" (removed)="removeCSECReq(subs)">-->
                <!--{{subs.name}}-->
                <!--<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
                <!--</mat-chip>-->
                <!--<input disabled-->
                       <!--[matChipInputFor]="chipList"-->
                       <!--[matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
                       <!--[matChipInputAddOnBlur]="addOnBlur"-->
                       <!--(matChipInputTokenEnd)="addCSECReq($event)" />-->
              <!--</mat-chip-list>-->
            <!--</mat-form-field>-->
          <!--</div>-->

          <!--<div class="row">-->
            <!--<mat-label>Grouped Requirements (CAPE)</mat-label>-->
            <!--<mat-form-field class="cape-requirements">-->
              <!--<mat-chip-list #chipList>-->
                <!--<mat-chip *ngFor="let subs of capeSubs" [selectable]="selectable"-->
                  <!--[removable]="removable" (removed)="removeCAPEReq(subs)">-->
                  <!--{{subs.name}}-->
                  <!--<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
                <!--</mat-chip>-->
                <!--<input disabled-->
                       <!--[matChipInputFor]="chipList"-->
                       <!--[matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
                       <!--[matChipInputAddOnBlur]="addOnBlur"-->
                       <!--(matChipInputTokenEnd)="addCAPEReq($event)" />-->
              <!--</mat-chip-list>-->
            <!--</mat-form-field>-->
          <!--</div>-->

          <button mat-raised-button color="primary">Save Changes</button>

        </div>
      </mat-card>
    </div>
  </div>
</div>
