<div id="login-wrapper" #showLogin>
  <mat-card>
    <h2 class = "text-center" >Login</h2>

    <mat-card-content>
      <form [formGroup] = form (ngSubmit) = "login()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="form.controls['email']"
                 [errorStateMatcher]="matcher" id = "email" name = "email">
          <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
            Must be a valid email. eg. <em>someone@example.com</em>
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "!forgot_pword">
          <input matInput type = "password" placeholder="Password" [formControl]="form.controls['pword']"
                 [errorStateMatcher]="matcher" id = "pword" name = "password">
          <mat-error *ngIf="form.controls['pword'].hasError('pattern') && !form.controls['pword'].hasError('required')">
            Must contain at least: <em>8 characters, 1 uppercase letter, 1 lowercase letter, and 1 number</em>
          </mat-error>
          <mat-error *ngIf="form.controls['pword'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class = "buttons" *ngIf = "!forgot_pword; else forgotPwordButtons">
          <button mat-raised-button color="primary">Submit</button>
          <button mat-raised-button color="warn" type = "reset">Clear fields</button>
        </div>
        <a href="#" *ngIf = "!forgot_pword" (click) = "forgot_pword = true;">Forgot your password? Click here!</a>

        <ng-template #forgotPwordButtons>
          <div class = "buttons">
            <button mat-raised-button color="primary">Send email link</button>
            <button mat-raised-button color="warn" type = "reset" (click) = "forgot_pword = false;">Back to log in</button>
          </div>
        </ng-template>


      </form>
    </mat-card-content>
  </mat-card>
</div>
