<mat-toolbar color="primary">
  <span id = "title">Programme Upload </span>
</mat-toolbar>
<!--<br> <br>-->

<div fxLayout="row" fxLayout.xs = "column">
  <mat-card class = "outer">
    <mat-card-title> {{progTotal}} Programmes </mat-card-title>
    <mat-card-content>
      <div class="container-fluid">
        <table class = "table">
          <thead>
          <tr>
            <th scope="col">Faculty</th>
            <th scope="col">Programmes offered</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let fac of faculties">
            <td>{{fac.title}}</td>
            <td>{{fac.number}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!--<mat-grid-tile *ngFor = "let prog of programmes"> <p> {{prog.title}} {{prog.number}} </p></mat-grid-tile>-->
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">View Programmes</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class = "outer">
    <div id="upload-area">
      <i class="material-icons">
        cloud_upload
      </i>
      <mat-card-title> Drag and drop files here or browse your file system </mat-card-title>
      <mat-card-subtitle> Only one file allowed at a time</mat-card-subtitle>
      <angular-file-uploader
        [config]="afuConfig"
        (ApiResponse)="DocUpload($event)">
      </angular-file-uploader>

      <!--<hr>-->
      <!--<mat-card-actions>-->
        <!--<mat-card-title>Browse files</mat-card-title>-->
        <!--<angular-file-uploader [config]="afuConfig">-->
        <!--</angular-file-uploader>-->
      <!--</mat-card-actions>-->
    </div>
    <br>
    <!--<button mat-raised-button color="primary">Edit Programmes</button>-->

  </mat-card>
</div>
