#title {
  flex: 1 1 auto;
  text-align: center;
}

button { display: inline;}

.outer {
  text-align: center;
  display: inline-block;
  padding: 20px !important;
  width: 750px;
}

mat-card { box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5) !important; }
mat-card-content { padding: 0 !important; }

i {font-size: 75px; }
table { text-align: center;}
hr { border-top: 1px solid black; }

#upload-area {
  background: lightgray;
  padding: 30px;
}

//#dragNDrop[_ngcontent-c11] #div1[_ngcontent-c11] {
//  width: 100% !important;
//}
