#title {
  flex: 1 1 auto;
  text-align: center;
}

button { display: inline; margin:2px}

.outer {
  text-align: center;
  display: inline-block;
  padding: 10px !important;
}

mat-card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5) !important;
  margin: 0 15px 0 15px;
}
mat-card-content { padding: 0 5px !important; }

i {font-size: 75px; }
table { text-align: center;}
hr { border-top: 1px solid black; }

#upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-area {
  background: lightgray;
  width: 100%;
  padding: 100px;
}

.spinner { text-align: center; }
.spinner mat-spinner { display: inline-block; }

#totals td { font-weight: 500; }

.line-break { width: 100%; }

#permissions {
  margin: auto;
  margin-top: 25%;
  width: 150px;
  height: 150px;
}

#permissions svg {
  width: 150px;
  height: 150px;
}

