<div fxLayout="column" fxLayout.xs = "column" *ngIf = "admin_view !== undefined; else spinnerPermissions" style="padding-top:10px">



  <mat-card class = "outer">
    <mat-card-title>
      <h2>
        Upload Manager
        <button mat-raised-button
                color="primary"
                matTooltip="Upload a new file"
                (click)="openUploadDialog()"
                aria-label="Button that displays a tooltip in various positions">
          Add New Upload
        </button>
      </h2>
      <mat-progress-bar mode="indeterminate" [hidden]="!activateLoading"></mat-progress-bar>
    </mat-card-title>
    <mat-card-content>



      <div class="container-fluid">
        <div *ngIf = "pendingRequest"  class = "spinner">
          <mat-spinner></mat-spinner>
          <p> Loading Uploads... </p>
        </div>

        <table class = "table" *ngIf = "!pendingRequest">
          <thead>
            <tr>
              <th scope="col">Upload ID</th>
              <th scope="col">Created</th>
              <th scope="col">Read Status</th>
              <th scope="col">Programmes</th>
              <th scope="col">Errors</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let upload of uploads">
            <td>
              <mat-chip-list>
                <mat-chip color="{{ upload.synced ? 'primary' : 'stable' }}" selected>{{upload.id}}{{upload.synced? ' ACTIVE':''}}</mat-chip>
              </mat-chip-list>
            </td>
            <td>{{upload.created}}</td>
            <td>
              <mat-chip-list>
                <mat-chip *ngIf="upload.parsed" style="background-color:green; color:white" selected>Success</mat-chip>
                <mat-chip *ngIf="!upload.parsed" matTooltip="Reading failed, more details will be available soon" color="warn" selected>Failed</mat-chip>
              </mat-chip-list>
            </td>
            <td>{{upload.parsed ? upload.numProgrammes : '-'}}</td>
            <td>{{upload.parsed ? upload.numErrors : '-'}}</td>
            <td>
              <button mat-raised-button color="primary"  [hidden]="upload.synced || !upload.parsed"   [disabled]="activateLoading|| !upload.parsed" (click)="activateUpload(upload.id)">
                {{activateLoading ? 'Loading...' : 'Activate'}}
              </button>
              <a mat-button [hidden]="!upload.parsed" href="{{environment.host}}/files/uploads/{{upload.id}}.xlsx">Download</a>
<!--          <a mat-button [disabled]="!upload.parsed" href="{{environment.host}}/files/errors/{{upload.id}}.xlsx">Download Errors</a>-->
              <button
                mat-raised-button
                color="stable"
                [hidden]="!upload.parsed"
                (click) = "openDialog(upload.id)">
                Errors
              </button>
              <button mat-raised-button color="warn" (click)="deleteUpload(upload.id)">
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </mat-card-content>

  </mat-card>

  <mat-card class = "outer" style="margin-top:15px">
    <mat-card-title><h2>Upload ID:{{active}} active.</h2> </mat-card-title>
    <mat-card-content>
      <div class="container-fluid">
        <div *ngIf = "pendingRequest" class = "spinner">
            <mat-spinner></mat-spinner>
            <p> Loading programmes... </p>
        </div>

        <table class = "table" *ngIf = "!pendingRequest">
          <thead>
          <tr>
            <th scope="col">Faculty</th>
            <th scope="col">Programmes offered</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let fac of faculties">
            <td>{{fac.title}}</td>
            <td>{{fac.number}}</td>
          </tr>
          <tr id = "totals">
            <td>Total Programmes</td>
            <td>{{progTotal}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button id = "viewProgrammes"
        mat-raised-button
        [ngStyle]="{'background-color': bg_color, 'color': 'white'}"
        [routerLink]="['/view']">
        View Programmes
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #spinnerPermissions>
  <mat-spinner id = "permissions"></mat-spinner>
  <p style = "text-align: center;">Reading permissions...</p>
</ng-template>

