<mat-toolbar [ngStyle]="{'background-color': curr_color, 'color': text_color}">
  <mat-toolbar-row  id = "search" >
    <mat-form-field class="example-full-width">
      <input #searchbar (keyup) = "filter(searchbar.value)" type = "text" matInput placeholder="Filter programmes">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid" style = "padding: 0 !important;" *ngIf = "admin_view !== undefined; else spinnerPermissions">
  <div class="row" style = "margin-top: 10px;">

    <div class="col-md-4">

      <mat-nav-list style = "min-height: 0 !important;">
        <mat-select placeholder="All Programmes" id = "separator" matTooltip="Select a faculty" matTooltipPosition = "above" *ngIf = "admin_view">
          <mat-option *ngFor="let fac of faculties" [value]="fac" (click) = "getProgs($event)">
            {{fac}}
          </mat-option>
        </mat-select>

        <div id = "scrollList">
          <ng-template #loading id = "loading">
            <mat-spinner></mat-spinner>
          </ng-template>
          <div *ngIf = "!pendingprogs && current_faculty !== undefined; else loading">
            <mat-list-item style = "height: auto;" *ngFor="let prog of filtered" (click) = "getProgInfo($event)"><span class = "test">{{prog.name}}</span></mat-list-item>
          </div>
        </div>

      </mat-nav-list>
    </div>

    <div class="col-md-8 text-center" style = "margin-top: -50px;" [style.visibility] = hideInfo >
      <mat-card id = "allInfo">
        <div class="container-fluid" id = "scrollTest">
          <h1 style = "padding: 15px"> {{title}} </h1>
          <h2 *ngIf = "admin_view">Faculty: {{currProg.faculty}}</h2>
          <h2 *ngIf = "admin_view">Department: {{currProg.department}}</h2>
          <mat-divider *ngIf = "admin_view"></mat-divider>
          <div id="infoArea">
            <div class="row">
              <div class="col-md-8">
                <h3><mat-label>Mandatory Requirements</mat-label></h3>
                <mat-form-field class="general-requirements">
                  <mat-chip-list #genreqs>
                    <mat-chip *ngFor="let req of currProg.requirements.mandatory" [selectable]=true>
                      {{req}}
                    </mat-chip>
                    <input [disabled] = "disabled" [matChipInputFor]="genreqs"/>
                  </mat-chip-list>
                </mat-form-field>

              </div>
              <div class="col-md-4">
                <div class="row">
                  <mat-checkbox [disabled] = "disabled" [(ngModel)]="currProg.part_time">Part time</mat-checkbox>
                  <mat-checkbox [disabled] = "disabled" [(ngModel)]="currProg.full_time">Full time</mat-checkbox>
                  <mat-checkbox [disabled] = "disabled" [(ngModel)]="currProg.evening">Evening</mat-checkbox>
                </div>
                <mat-form-field class="example-full-width">
                  <input [disabled] = "disabled" type = "number" matInput placeholder="CAPE Passes (2 unit)" [(ngModel)] = "currProg.requirements.cape_passes" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [disabled] = "disabled" type = "number" matInput placeholder="CSEC Passes" [(ngModel)] = "currProg.requirements.csec_passes">
                </mat-form-field>

              </div>
            </div>

            <h3> Grouped Requirements (each combination must be satisfied)</h3>
            <h3 *ngIf = "noCombos">(No combination requirements for this programme)</h3>

            <div class="row" [hidden] = "hideOneCSEC">
              <mat-label>CSEC (any one of the following)</mat-label>
              <mat-form-field class="csec-requirements">
                <mat-chip-list #anyOneCSEC>
                  <mat-chip *ngFor="let subs of oneCSEC" [selectable]= true>
                    {{subs}}
                  </mat-chip>
                  <input [disabled] = "disabled" [matChipInputFor]="anyOneCSEC"/>
                </mat-chip-list>
              </mat-form-field>
            </div>

            <div class="row" [hidden] = "hideTwoCSEC">
              <mat-label>CSEC (any two of the following)</mat-label>
              <mat-form-field class="csec-requirements">
                <mat-chip-list #anyTwoCSEC>
                  <mat-chip *ngFor="let subs of twoCSEC" [selectable]= true>
                    {{subs}}
                  </mat-chip>
                  <input [disabled] = "disabled" [matChipInputFor]="anyTwoCSEC"/>
                </mat-chip-list>
              </mat-form-field>
            </div>

            <div class="row" [hidden] = "hideOneCAPE">
              <mat-label>CAPE (any one of the following)</mat-label>
              <mat-form-field class="cape-requirements">
                <mat-chip-list #anyOneCAPE>
                  <mat-chip *ngFor="let subs of oneCAPE" [selectable]= true>
                    {{subs}}
                  </mat-chip>
                  <input [disabled] = "disabled"
                         [matChipInputFor]="anyOneCAPE"/>
                </mat-chip-list>
              </mat-form-field>
            </div>

            <div class="row" [hidden] = "hideTwoCAPE">
              <mat-label>CAPE (any two of the following)</mat-label>
              <mat-form-field class="cape-requirements">
                <mat-chip-list #anyTwoCape>
                  <mat-chip *ngFor="let subs of twoCAPE" [selectable]= true>
                    {{subs}}
                  </mat-chip>
                  <input [disabled]
                         [matChipInputFor]="anyTwoCape"/>
                </mat-chip-list>
              </mat-form-field>
            </div>
            <!--<button mat-raised-button (click) = "toggleEditable()">Edit</button>-->
            <!--<button mat-raised-button [disabled] = "disabled">Save</button>-->
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #spinnerPermissions>
  <mat-spinner id = "permissions"></mat-spinner>
  <p style = "text-align: center;">Reading permissions...</p>
</ng-template>
