/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body { background: white !important; }
.btn {
  vertical-align: baseline !important;
  margin: 10px;
}

#div1 {
  width: 100% !important;
  height: 100% !important;
}

.page-content { padding: 0 !important; }
.progress { width: 100% !important; }
.col-xs-3 {
  width: 100% !important;
  height: 30px !important;
}

