/* You can add global styles to this file, and also import other style files */

body {
  background: white !important;
}
.btn {
  vertical-align: baseline !important;
  margin: 10px;
}

#dragNDrop[_ngcontent-c9] #div1[_ngcontent-c9] {
  width: 100% !important;
}

#div1 { width: 100% !important; }

.page-content {
  padding: 0 !important;
}
